.gamecontainer{
/* background-color: red; */
display: flex;
justify-content: center;
margin-top: 50px;

}
.container {
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 0;
    justify-content: center;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
   background-color: rgba(137, 43, 226, 0.322);
   cursor: pointer;
}

.gameinfo {
    padding: 0 34px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imgbox img {
    display:none;
}
span.info {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    vertical-align: middle;
    /* color: red; */
}
button#reset {
    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 16px;
    background: red;
    border: 0;
    border-radius: 37px;
    width: 100px;
    vertical-align: middle;
}
.gameinfo h1 {
    text-transform: capitalize;
    text-align: center;
}
.imgbox {
    position: absolute;
    top: 50%;
    right: 50%;
    /* bottom: 50%; */
    transform: translate(-50px,-50px);
    z-index: 100;
}
@media (max-width:767px) {
    .gamecontainer {
        display: block;
        margin-top: 15px;
    }
    span.info {
        font-size: 23px;
        text-transform: capitalize;
        font-weight: 700;
        vertical-align: middle;
        /* color: red; */
    }
    .gameinfo {
        padding: 0 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
   
}